In [10]:
#imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
# Load the dataframes
df_por = pd.read_csv("student-por.csv")
df_perf = pd.read_csv("StudentsPerformance.csv")
df_grads = pd.read_csv("dataset.csv")

# Display the first few rows of each dataframe
#print("Student-por.csv:")
#print(df_por.head())
#print("\nStudentsPerformance.csv:")
#print(df_perf.head())
#print("\nDataset.csv:")
#print(df_grads.head())

# Add a synthetic student_id column to each dataframe
df_por['student_id'] = df_por.index
df_perf['student_id'] = df_perf.index
df_grads['student_id'] = df_grads.index

# Merge df_por and df_perf on the synthetic column 'student_id'
df_merged1 = pd.merge(df_por, df_perf, on='student_id')

# Merge the result with df_grads on the same synthetic column 'student_id'
df_merged2 = pd.merge(df_merged1, df_grads, on='student_id')

# Display the first few rows of the final merged dataframe
print("\nMerged DataFrame:")
print(df_merged2.head())

Merged DataFrame:
  school sex_x  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP     F   18       U     GT3       A     4     4  at_home   teacher
1     GP     F   17       U     GT3       T     1     1  at_home     other
2     GP     F   15       U     LE3       T     1     1  at_home     other
3     GP     F   15       U     GT3       T     4     2   health  services
4     GP     F   16       U     GT3       T     3     3    other     other

   ... Curricular units 2nd sem (credited)  \
0  ...                                   0
1  ...                                   0
2  ...                                   0
3  ...                                   0
4  ...                                   0

  Curricular units 2nd sem (enrolled)  Curricular units 2nd sem (evaluations)  \
0                                   0                                       0
1                                   6                                       6
2                                   6                                       0
3                                   6                                      10
4                                   6                                       6

   Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                    0                          0.000000
1                                    6                         13.666667
2                                    0                          0.000000
3                                    5                         12.400000
4                                    6                         13.000000

  Curricular units 2nd sem (without evaluations) Unemployment rate  \
0                                              0              10.8
1                                              0              13.9
2                                              0              10.8
3                                              0               9.4
4                                              0              13.9

  Inflation rate   GDP    Target
0            1.4  1.74   Dropout
1           -0.3  0.79  Graduate
2            1.4  1.74   Dropout
3           -0.8 -3.12  Graduate
4           -0.3  0.79  Graduate

[5 rows x 77 columns]

In [14]:
# Load the dataframes
df_por = pd.read_csv("student-por.csv")
df_perf = pd.read_csv("StudentsPerformance.csv")
df_grads = pd.read_csv("dataset.csv")

# Add a synthetic student_id column to each dataframe
df_por['student_id'] = df_por.index
df_perf['student_id'] = df_perf.index
df_grads['student_id'] = df_grads.index

# Merge df_por and df_perf on the synthetic column 'student_id'
df_merged1 = pd.merge(df_por, df_perf, on='student_id')

# Merge the result with df_grads on the same synthetic column 'student_id'
df_merged2 = pd.merge(df_merged1, df_grads, on='student_id')

# Select the specified columns
columns_to_keep = [
    'sex', 'age', 'Medu', 'Fedu', 'G3', 
    'parental level of education', 'lunch', 'math score', 'reading score', 'writing score',
    'Mother\'s qualification', 'Father\'s qualification', 'Curricular units 1st sem (credited)', 
    'Curricular units 1st sem (enrolled)', 'Curricular units 1st sem (evaluations)', 
    'Curricular units 1st sem (approved)', 'Curricular units 1st sem (grade)', 
    'Curricular units 1st sem (without evaluations)', 'Curricular units 2nd sem (credited)', 
    'Curricular units 2nd sem (enrolled)', 'Curricular units 2nd sem (evaluations)', 
    'Curricular units 2nd sem (approved)', 'Curricular units 2nd sem (grade)'
]

df_final = df_merged2[columns_to_keep]

# Display the first few rows of the final dataframe
print("\nFinal DataFrame with selected columns:")
print(df_final.head())

Final DataFrame with selected columns:
   sex  age  Medu  Fedu  G3 parental level of education         lunch  \
0    1   18     4     4  11           bachelor's degree      standard
1    1   17     1     1  11                some college      standard
2    1   15     1     1  12             master's degree      standard
3    0   15     4     2  14          associate's degree  free/reduced
4    0   16     3     3  13                some college      standard

   math score  reading score  writing score  ...  \
0          72             72             74  ...
1          69             90             88  ...
2          90             95             93  ...
3          47             57             44  ...
4          76             78             75  ...

   Curricular units 1st sem (enrolled)  \
0                                    0
1                                    6
2                                    6
3                                    6
4                                    6

   Curricular units 1st sem (evaluations)  \
0                                       0
1                                       6
2                                       0
3                                       8
4                                       9

   Curricular units 1st sem (approved)  Curricular units 1st sem (grade)  \
0                                    0                          0.000000
1                                    6                         14.000000
2                                    0                          0.000000
3                                    6                         13.428571
4                                    5                         12.333333

   Curricular units 1st sem (without evaluations)  \
0                                               0
1                                               0
2                                               0
3                                               0
4                                               0

   Curricular units 2nd sem (credited)  Curricular units 2nd sem (enrolled)  \
0                                    0                                    0
1                                    0                                    6
2                                    0                                    6
3                                    0                                    6
4                                    0                                    6

   Curricular units 2nd sem (evaluations)  \
0                                       0
1                                       6
2                                       0
3                                      10
4                                       6

   Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)
0                                    0                          0.000000
1                                    6                         13.666667
2                                    0                          0.000000
3                                    5                         12.400000
4                                    6                         13.000000

[5 rows x 23 columns]